@model Sistema.Models.Formulario.InventarioForm

@{
    ViewData["Title"] = "ADMINISTRAR INVENTARIOS";
    Layout = "_Layout";
    string formId = "FormInventario";
    string buttonId = "btnInventario";
    string divTableId = "divDataTableInventario";
    string partialViewName = "DataTable/_InventarioTable";
}


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"]</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">@ViewData["Title"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
<div class="col-md-4">
    <form id="@formId" method="POST" autocomplete="off">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label asp-for="ProductoId"><span class="text-danger">*</span> Producto</label>
                    <select asp-for="ProductoId" class="form-control select2" data-val="false" asp-items="@(new SelectList(Model.productos,"Id","Nombre",Model.ProductoId))">
                        <option value="0">Seleccion uno por favor</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label asp-for="PrecioVenta"><span class="text-danger">*</span> Precio de Venta Q</label>
                    <input asp-for="PrecioVenta" type="text" class="form-control" data-val="false" />
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label asp-for="Stock"><span class="text-danger">*</span> Stock</label>
                    <input asp-for="Stock" type="number" class="form-control" data-val="false" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <br /><br />
                <a onclick="limpiar()" class="btn btn-md btn-info">Limpiar</a>
            </div>
            <div class="col-sm-12 col-md-6">
                <br /><br />
                <button id="@buttonId" type="submit" class="btn btn-block btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>
<div class="col-md-8 mb-3" id="@divTableId">
@await Html.PartialAsync(partialViewName: partialViewName, model: Model)
</div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!--/. container-fluid -->
</section>
<!-- /.content -->

<script type="text/javascript">
    var _form = "#"+'@formId';
    var _btn  = "#"+'@buttonId';
    var _div  = "#"+'@divTableId';
    var _title = "¡Guardar!";

    $(document).ready(function () {
        $('.select2').select2();

        $(_form).validate({
            rules: {
                "ProductoId": { 
                    required: true, 
                    number: true, 
                    min: 1,
                    remote: {
                        url: '@Url.Action("Exists", "Inventario")',
                        type: "post",
                        data: {
                            ProductoId: function() {
                                return $("#ProductoId").val();
                            }
                        }
                    },  
                },
                "PrecioVenta": { required: true, range: [0.25, 10000] },
                "Stock": { required: true, number: true, min: 1 },
            },
            messages: {
                "ProductoId": {
                    required: "El producto es obligatorio",
                    number: "El producto solo acepta números",
                    min: "El producto debe ser mayor a 0",
                    remote: "El producto que trata de registrar ya existe"
                },
                "PrecioVenta": {
                    required: "El precio de venta es obligatorio",
                    range: "El precio de venta de tener más de 0.25 y menos de 10,000"
                },
                "Stock": {
                    required: "El stock es obligatorio",
                    number: "El stock solo acepta números",
                    min: "El stock debe ser mayor a 0"
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            },
            invalidHandler: function (event, validator) {
                var errors = validator.numberOfInvalids();

                if (errors) {
                    var message = errors == 1
                        ? `Al paracer el sistema detecto que ${errors} campo no cumple con la validación.`
                        : `Al paracer el sistema detecto que ${errors} campos no cumplen con la validación.`;

                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: message,
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            }

        });        
    });

    $(_btn).click(function (event) {
       if($(_form).valid())
        {
            event.preventDefault();
            Swal.fire({
                title: _title,
                text: "¿Esta seguro de realizar esta acción?",
                icon: "success",
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                },  
                showCancelButton: true,
                confirmButtonColor: '#09cd27',
                cancelButtonColor: '#e91d10',
                confirmButtonText: 'SI',
                cancelButtonText: `NO`,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: $("#Id").val() == 0 ? '@Url.Action("Insertar", "Inventario")' : '@Url.Action("Actualizar", "Inventario")',
                        headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                        method:'POST',
                        data: $(_form).serialize(),
                        success: function (data) {
                            $(_div).empty();
                            $(_div).html(data);

                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: $("#Id").val() == 0 ? "El registro fue creado." : "El registro fue modificado.",
                                showConfirmButton: false,
                                timer: 2500
                            })

                            $(_form).get(0).reset()
                            limpiar()
                        },
                        error: function(e) {
                            errorDialog(e)
                        },
                        complete: function() {
                        }
                    });
                }
            })
        }
    });

    function eliminar(id) {
        Swal.fire({
            title: "Eliminar",
            text: "¿Esta seguro de realizar esta acción?",
            icon: "success",
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            },  
            showCancelButton: true,
            confirmButtonColor: '#09cd27',
            cancelButtonColor: '#e91d10',
            confirmButtonText: 'SI',
            cancelButtonText: `NO`,
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("Eliminar", "Inventario")',
                    method:'POST',
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    data: {
                        Id: id
                    },
                    success: function (data) {
                        $(_div).empty();
                        $(_div).html(data);

                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: "El registro fue eliminado",
                            showConfirmButton: false,
                            timer: 2500
                        })
                    },
                    error: function(e) {
                        errorDialog(e)
                    },
                    complete: function() {
                    }
                });
            }
        })
    }

    function actualizar(id, productoId, precioVenta, stock) {
        limpiar();

        $("#Id").val(id)
        $("#ProductoId").val(productoId).change();
        $("#PrecioVenta").val(precioVenta)
        $("#Stock").val(stock)
    }

    function limpiar() {
        $("#Id").val(0)
        $("#ProductoId").val(0).change();
        $("#PrecioVenta").val("")
        $("#Stock").val("")
    }
    
	function errorDialog(e) {
        if(e.status == 400) {
            Swal.fire({
                title: '¡Error!',
                icon: 'error',
                html:
                `<span>${e.responseJSON.error}</span> <br/><br/> La ventana se cerrara en <strong></strong> segundos.<br/><br/>`,
                timer: 10000,
                didOpen: () => {
                    const content = Swal.getHtmlContainer()
                    const $ = content.querySelector.bind(content)

                    Swal.showLoading()

                    timerInterval = setInterval(() => {
                            Swal.getHtmlContainer().querySelector('strong')
                            .textContent = (Swal.getTimerLeft() / 1000)
                                .toFixed(0)
                        }, 100)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            })
        } else {
            Swal.fire({
              icon: 'error',
              title: 'Ocurrio un error en el servidor'
            })
        }
	}
</script>