@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Sistema.Models.Home.CambiarPasswordModel
@{
    ViewData["Title"] = "Cambiar Contraseña";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Environment.GetEnvironmentVariable("APP_NAME") | @ViewData["Title"]</title>
    <!-- SwwetAlert -->
    <link rel="stylesheet" href="~/plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <script type="text/javascript" src="~/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
</head>
<body class="layout-top-nav" style="background-image: linear-gradient(45deg, #1ebdc3 2%, white 98%);">
    @Html.Partial("_NotificationPanel")
    <div class="loader_oficial"></div>
    <div class="wrapper">    
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="background-image: linear-gradient(45deg, #1ebdc3 2%, white 98%);">
            <div class="content-header">
                <div class="container">
                    <div class="row mb-12">
                        <div class="col-sm-12" style="text-align:center">
                             <img src="~/images/LogoFinal.png" alt="" style="width: 350px !important;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Cambio de contraseña</h3>
                        </div>
                        <form method="post" action="@Url.Action("CambiarPassword", "Home")">
                            @Html.AntiForgeryToken()
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="Codigo">Código</label>
                                    <input asp-for="Codigo" class="form-control" placeholder="Ingrese el código"/>
                                    @Html.ValidationMessageFor(Model => Model.Codigo)
                                </div>
                                <div class="form-group">
                                    <label asp-for="NuevoPassword">Nueva Contraseña</label>
                                    <input asp-for="NuevoPassword" class="form-control" placeholder="Ingrese la nuevo contraseña"/>
                                    @Html.ValidationMessageFor(Model => Model.NuevoPassword)
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmarPassword">Confirmar Contraseña</label>
                                    <input asp-for="ConfirmarPassword" class="form-control" placeholder="Ingrese la confirmación de la nueva contraseña"/>
                                    @Html.ValidationMessageFor(Model => Model.ConfirmarPassword)
                                </div>
                            </div>
                            <div class="card-footer" style="text-align:center">
                                <button type="submit" class="btn btn-secondary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        window.onload = function() {
            setTimeout(function() {
			    $('.loader_oficial').css('display', 'none');
            }, 1000);
		}
    </script>
</body>
</html>
