@model Sistema.Models.Formulario.CajaForm

@{
    ViewData["Title"] = "ADMINISTRAR CAJAS";
    Layout = "_Layout";
    string formId = "FormCaja";
    string buttonId = "btnCaja";
    string divTableId = "divDataTableCaja";
    string partialViewName = "DataTable/_CajaTable";
}


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"]</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">@ViewData["Title"]</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
<div class="col-md-4">
    <form id="@formId" method="POST" autocomplete="off">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <div class="row">
            <div class="col-sm-12 col-md-12 divInsert">
                <div class="form-group">
                    <label asp-for="efectivoApertura"><span class="text-danger">*</span> Apertura de Caja Q</label>
                    <input asp-for="efectivoApertura" type="text" class="form-control" data-val="false" />
                </div>
            </div>
            <div class="col-sm-12 col-md-12 divCierre">
                <div class="form-group">
                    <label asp-for="efectivoCierre"><span class="text-danger">*</span> Cierre de Caja Q</label>
                    <input asp-for="efectivoCierre" type="text" class="form-control" data-val="false" />
                </div>
            </div>
        </div>

        <div class="row divInsert">
            <div class="col-sm-12 col-md-6">
                <br /><br />
                <a onclick="limpiar()" class="btn btn-md btn-info">Limpiar</a>
            </div>
            <div class="col-sm-12 col-md-6">
                <br /><br />
                <button id="@buttonId" type="submit" class="btn btn-block btn-primary">Guardar</button>
            </div>
        </div>

        <div class="row divCierreBtn">
            <div class="col-sm-12 col-md-6">
                <br /><br />
                <a onclick="limpiar()" class="btn btn-md btn-info">Limpiar</a>
            </div>
            <div class="col-sm-12 col-md-6">
                <br /><br />
                <button id="btnCierre" type="submit" class="btn btn-block btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>
<div class="col-md-8 mb-3" id="@divTableId">
@await Html.PartialAsync(partialViewName: partialViewName, model: Model)
</div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!--/. container-fluid -->
</section>
<!-- /.content -->

<script type="text/javascript">
    var _form = "#"+'@formId';
    var _btn  = "#"+'@buttonId';
    var _div  = "#"+'@divTableId';
    var _title = "¡Guardar!";

    $(document).ready(function () {
        $('.select2').select2();

        $(_form).validate({
            rules: {
                "efectivoApertura": { required: true, range: [0.25, 10000] },
                "efectivoCierre": { required: true, range: [0.25, 10000000000000000] },
            },
            messages: {
                "efectivoApertura": {
                    required: "El efectivo de apertura es obligatorio",
                    range: "El efectivo de apertura de tener más de 0.25 y menos de 10,000"
                },
                "efectivoApertura": {
                    required: "El efectivo de cierre es obligatorio",
                    range: "El efectivo de cierre de tener más de 0.25 y menos de 10000000000000000"
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            },
            invalidHandler: function (event, validator) {
                var errors = validator.numberOfInvalids();

                if (errors) {
                    var message = errors == 1
                        ? `Al paracer el sistema detecto que ${errors} campo no cumple con la validación.`
                        : `Al paracer el sistema detecto que ${errors} campos no cumplen con la validación.`;

                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: message,
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            }

        });  
        
        limpiar();
    });

    $(_btn).click(function (event) {
       if($(_form).valid())
        {
            event.preventDefault();
            Swal.fire({
                title: _title,
                text: "¿Esta seguro de realizar esta acción?",
                icon: "success",
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                },  
                showCancelButton: true,
                confirmButtonColor: '#09cd27',
                cancelButtonColor: '#e91d10',
                confirmButtonText: 'SI',
                cancelButtonText: `NO`,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: $("#Id").val() == 0 ? '@Url.Action("Insertar", "Caja")' : '@Url.Action("Actualizar", "Caja")',
                        headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                        method:'POST',
                        data: $(_form).serialize(),
                        success: function (data) {
                            $(_div).empty();
                            $(_div).html(data);

                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: $("#Id").val() == 0 ? "El registro fue creado." : "El registro fue modificado.",
                                showConfirmButton: false,
                                timer: 2500
                            })

                            $(_form).get(0).reset()
                            limpiar()
                        },
                        error: function(e) {
                            errorDialog(e)
                        },
                        complete: function() {
                        }
                    });
                }
            })
        }
    });
    

    $("#btnCierre").click(function (event) {
       if($(_form).valid())
        {
            event.preventDefault();
            Swal.fire({
                title: "¡Guaradar Cierre!",
                text: "¿Esta seguro de realizar esta acción?",
                icon: "success",
                allowOutsideClick: () => {
                    const popup = Swal.getPopup()
                    popup.classList.remove('swal2-show')
                    setTimeout(() => {
                        popup.classList.add('animate__animated', 'animate__headShake')
                    })
                    setTimeout(() => {
                        popup.classList.remove('animate__animated', 'animate__headShake')
                    }, 500)
                    return false
                },  
                showCancelButton: true,
                confirmButtonColor: '#09cd27',
                cancelButtonColor: '#e91d10',
                confirmButtonText: 'SI',
                cancelButtonText: `NO`,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Cerrar", "Caja")',
                        headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                        method:'POST',
                        data: $(_form).serialize(),
                        success: function (data) {
                            $(_div).empty();
                            $(_div).html(data);

                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: "El registro fue creado.",
                                showConfirmButton: false,
                                timer: 2500
                            })

                            $(_form).get(0).reset()
                            limpiar()
                        },
                        error: function(e) {
                            errorDialog(e)
                        },
                        complete: function() {
                        }
                    });
                }
            })
        }
    });

    function eliminar(id) {
        Swal.fire({
            title: "Eliminar",
            text: "¿Esta seguro de realizar esta acción?",
            icon: "success",
            allowOutsideClick: () => {
                const popup = Swal.getPopup()
                popup.classList.remove('swal2-show')
                setTimeout(() => {
                    popup.classList.add('animate__animated', 'animate__headShake')
                })
                setTimeout(() => {
                    popup.classList.remove('animate__animated', 'animate__headShake')
                }, 500)
                return false
            },  
            showCancelButton: true,
            confirmButtonColor: '#09cd27',
            cancelButtonColor: '#e91d10',
            confirmButtonText: 'SI',
            cancelButtonText: `NO`,
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("Eliminar", "Caja")',
                    method:'POST',
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    data: {
                        Id: id
                    },
                    success: function (data) {
                        $(_div).empty();
                        $(_div).html(data);

                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: "El registro fue eliminado",
                            showConfirmButton: false,
                            timer: 2500
                        })
                    },
                    error: function(e) {
                        errorDialog(e)
                    },
                    complete: function() {
                    }
                });
            }
        })
    }

    function actualizar(id, efectivoApertura, efectivoCierre, isCierre) {
        limpiar();
        
        $("#Id").val(id)
        if(isCierre == 0) {
            $(".divInsert").show()
            $(".divCierre").show()

            $("#efectivoApertura").val(efectivoApertura)
            $("#efectivoCierre").val(efectivoCierre)
        } else {
            $(".divInsert").hide()
            $(".divCierre").show()
            $(".divCierreBtn").show()

            $("#efectivoCierre").val(efectivoCierre)
        }
    }

    function limpiar() {
        $(".divInsert").show()
        $(".divCierre").hide()
        $(".divCierreBtn").hide()

        $("#Id").val(0)
        $("#efectivoApertura").val("")
        $("#efectivoCierre").val("")
    }
    
	function errorDialog(e) {
        if(e.status == 400) {
            Swal.fire({
                title: '¡Error!',
                icon: 'error',
                html:
                `<span>${e.responseJSON.error}</span> <br/><br/> La ventana se cerrara en <strong></strong> segundos.<br/><br/>`,
                timer: 10000,
                didOpen: () => {
                    const content = Swal.getHtmlContainer()
                    const $ = content.querySelector.bind(content)

                    Swal.showLoading()

                    timerInterval = setInterval(() => {
                            Swal.getHtmlContainer().querySelector('strong')
                            .textContent = (Swal.getTimerLeft() / 1000)
                                .toFixed(0)
                        }, 100)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            })
        } else {
            Swal.fire({
              icon: 'error',
              title: 'Ocurrio un error en el servidor'
            })
        }
	}
</script>