@model Sistema.Models.Formulario.CompraForm

<table id="DataTableCompra" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle;">ID</th>
            <th style="text-align: center; vertical-align: middle;">Cantidad</th>
            <th style="text-align: center; vertical-align: middle;">Producto</th>
            <th style="text-align: center; vertical-align: middle;">Precio Costo Q</th>
            <th style="text-align: center; vertical-align: middle;">Proveedor</th>
            <th style="text-align: center; vertical-align: middle;">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.lista.Count; i++)
        {
            <tr>
                <td style="text-align: left; vertical-align: middle;">@Html.DisplayFor(m => m.lista[i].Id)</td>
                <td style="text-align: center; vertical-align: middle;">@Html.DisplayFor(m => m.lista[i].Cantidad)</td>
                <td style="text-align: left; vertical-align: middle;">@Html.DisplayFor(m => m.lista[i].Producto.Nombre)</td>
                <td style="text-align: right; vertical-align: middle;">@Html.DisplayFor(m => m.lista[i].PrecioCosto)</td>    
                <td style="text-align: left; vertical-align: middle;">@Html.DisplayFor(m => m.lista[i].Proveedor.Nombre)</td>             
                <td style="text-align: center; vertical-align: middle;">
                    <table class="table table-bordered text-center">
                        <tbody>
                            <tr>
                                <td>
                                    <a onclick="actualizar(
                                        @Model.lista[i].Id,
                                        @Model.lista[i].Cantidad,
                                        @Model.lista[i].ProductoId,
                                        @Model.lista[i].ProveedorId,
                                        '@Model.lista[i].PrecioCosto',
                                    )" class="btn btn-md btn-warning">ACTUALIZAR</a>
                                </td>
                                <td>
                                    <a onclick="eliminar(@Model.lista[i].Id)" class="btn btn-md btn-info">ELIMINAR</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#DataTableCompra').DataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": true,
          "responsive": true,
          lengthMenu: [10, @Model.lista.Count],
          "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#DataTableCompra_wrapper .col-md-6:eq(0)');
    });
</script>
