@model Sistema.Models.Formulario.InventarioForm

<table id="DataTableInventario" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle;">ID</th>
            <th style="text-align: center; vertical-align: middle;">Producto</th>
            <th style="text-align: center; vertical-align: middle;">Precio Venta</th>
            <th style="text-align: center; vertical-align: middle;">Stock</th>
            <th style="text-align: center; vertical-align: middle;">Activo</th>
            <th style="text-align: center; vertical-align: middle;">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.lista.Count; i++)
        {
            <tr>
                <td style="text-align: left; vertical-align: middle;">@Html.DisplayFor(m => m.lista[i].Id)</td>
                <td style="text-align: left; vertical-align: middle;">@Html.DisplayFor(m => m.lista[i].Producto.Nombre)</td>
                <td style="text-align: right; vertical-align: middle;">Q @Html.DisplayFor(m => m.lista[i].PrecioVenta)</td>     
                <td style="text-align: center; vertical-align: middle;">@Html.DisplayFor(m => m.lista[i].Stock)</td>   
                @if(Model.lista[i].Activo) {
                    <td style="text-align: center; vertical-align: middle;">SI</td>     
                } else {
                    <td style="text-align: center; vertical-align: middle;">NO</td>     
                }
                <td style="text-align: center; vertical-align: middle;">
                    <table class="table table-bordered text-center">
                        <tbody>
                            <tr>
                                <td>
                                    <a onclick="actualizar(
                                        @Model.lista[i].Id,
                                        @Model.lista[i].ProductoId,
                                        '@Model.lista[i].PrecioVenta',
                                        @Model.lista[i].Stock
                                    )" class="btn btn-md btn-warning">ACTUALIZAR</a>
                                </td>
                                <td>
                                    <a onclick="eliminar(@Model.lista[i].Id)" class="btn btn-md btn-info">ELIMINAR</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#DataTableInventario').DataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": true,
          "responsive": true,
          lengthMenu: [10, @Model.lista.Count],
          "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#DataTableInventario_wrapper .col-md-6:eq(0)');
    });
</script>
