@model Sistema.Models.Formulario.ReporteForm

<table id="DataTableReporteCompra" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle;">Producto</th>
            <th style="text-align: center; vertical-align: middle;">Proveedor</th>
            <th style="text-align: center; vertical-align: middle;">Cantidad Comprada</th>
            <th style="text-align: center; vertical-align: middle;">Cantidad Vendida</th>
            <th style="text-align: center; vertical-align: middle;">Cantidad en Existencia</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Compras.Count; i++)
        {
            <tr>
                <td style="text-align: left; vertical-align: middle;">@Html.DisplayFor(m => m.Compras[i].Producto)</td>  
                <td style="text-align: left; vertical-align: middle;">@Html.DisplayFor(m => m.Compras[i].Proveedor)</td> 
                <td style="text-align: center; vertical-align: middle;">@Html.DisplayFor(m => m.Compras[i].Compra)</td> 
                <td style="text-align: center; vertical-align: middle;">@Html.DisplayFor(m => m.Compras[i].Venta)</td>    
                <td style="text-align: center; vertical-align: middle;">@Html.DisplayFor(m => m.Compras[i].Inventario)</td>            
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#DataTableReporteCompra').DataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": true,
          "responsive": true,
          lengthMenu: [10, @Model.Compras.Count],
          "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#DataTableReporteCompra_wrapper .col-md-6:eq(0)');
    });
</script>
