@model Sistema.Models.Formulario.ReporteForm

<table id="DataTableReporteCaja" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle;">Caja</th>
            <th style="text-align: center; vertical-align: middle;">Usuario Abre</th>
            <th style="text-align: center; vertical-align: middle;">Apertura Q</th>
            <th style="text-align: center; vertical-align: middle;">Usuario Cierra</th>
            <th style="text-align: center; vertical-align: middle;">Cierre Q</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Cajas.Count; i++)
        {
            <tr>
                <td style="text-align: left; vertical-align: middle;">@Html.DisplayFor(m => m.Cajas[i].Caja)</td>
                <td style="text-align: left; vertical-align: middle;">@Html.DisplayFor(m => m.Cajas[i].UsuarioAbre)</td>    
                <td style="text-align: right; vertical-align: middle;">@Html.DisplayFor(m => m.Cajas[i].Apertura)</td>  
                <td style="text-align: left; vertical-align: middle;">@Html.DisplayFor(m => m.Cajas[i].UsuarioCierra)</td>   
                <td style="text-align: right; vertical-align: middle;">@Html.DisplayFor(m => m.Cajas[i].Cierre)</td>                 
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#DataTableReporteCaja').DataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": true,
          "responsive": true,
          lengthMenu: [10, @Model.Cajas.Count],
          "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#DataTableReporteCaja_wrapper .col-md-6:eq(0)');
    });
</script>
